<div class="main">
    <img class="main" src="/assets/images/glavni/image (1).jpg" alt="bor">
</div>
<div>
        <img class="logo" src="/assets/images/glavni/logo.svg" alt="">
        <img style="margin-left: 5%; margin-top: 22px;"  src="/assets/images/glavni/mockvo.svg" alt="">
        <img style="margin-top: 22px; margin-left: 16%; width: 181px; height: 32px;" src="/assets/images/glavni/voyti.svg" alt="">
        <img style="margin-top: 22px;" src="/assets/images/glavni/plus.svg" alt="">
</div>
<hr style="margin-top: 1%;">
<div>
    <img style="text-align: center; width: 940px; height: 320px; margin-left: 19.3%; margin-top: 20px;" src="/assets/images/glavni/image (2).jpg" alt="">
</div>
<h3 style="width:384px; height:34px; margin-top: 30px; font-size: 22px; margin-left: 19.1%;">Как проходит ремонт</h3>

<div class="body1">
    <div style="display: flex; gap: 15px;">
        <img src="/assets/images/glavni/togribelgi.svg" alt="">
        <p style="font-size: 12px;">Заполняете и оставляете заявку. Всего<br> пару  кликов и Вы у цели!</p>
    </div>
    <div style="margin-left: 40px; display: flex; gap: 15px;">
        <img src="/assets/images/glavni/togrichiziq.svg" alt="">
        <p style="font-size: 12px;">За 7 минут мы подберём варинаты ремонта по <br> марке, модели, цене и району города</p>
    </div>
    <div style="display: flex; margin-left: 40px; gap: 15px;">
        <img src="/assets/images/glavni/kluch.svg" alt="">
        <p style="font-size: 12px;">Приезжаете в сервис. Цена не изменится<br> а мы  проследим за качеством.</p>
    </div>
</div>
<div >
    <h2 style="width: 694px; height: 34px; font-size: 22px; margin-left: 19.1%;margin-top: 30px;">Подберём сервис за 7 минут. Просто заполни форму</h2>
</div>
<div class="body2">
    <div class="qator1">
        <input style="border: none; border-radius: 5px;" type="text" placeholder="Имя">
        <input style="border: none; border-radius: 5px;" type="text" placeholder="+7 (___) ___-__-__">
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Марка</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Модель</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
    <div>
        <input class="koment" type="text" placeholder="Комментарий">
    </div>
    <div style="width: 375px;height: 18px;margin-left: 290px; margin-top: 10px;">
        <p style="font-size: 13px;">Я соглашаюсь с <a href="">условиями обработки персональных данных</a></p>
    </div>
    <button style="border: none; border-radius: 5px;background-color:#6081D2;color: white; width: 200px;height: 35px; margin-left: 350px; margin-top: 10px;">
        <p style="font-size: 14px;margin-top: 4px;">Получите предложения СТО</p></button>
</div>
<div>
    <h2 style="width: 694px; height: 34px; font-size: 22px; margin-left: 19.1%;margin-top: 30px;">Подберём сервис за 7 минут. Просто заполни форму</h2>
</div>
<div class="body2">
    <div class="qator2">
        <input style="border: none; border-radius: 5px;" type="text" placeholder="Имя">
        <input style="border: none; border-radius: 5px;" type="text" placeholder="+7 (___) ___-__-__">
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Марка</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Модель</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
    <div>
        <div>
            <select style="margin-top: 10px;" class="form-select" id="inputGroupSelect01">
                <option selected>Год выпуска</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select style="margin-top: 10px; margin-left: px; margin-right: 15px;" class="form-select" id="inputGroupSelect01">
                <option selected>VIN-код</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
          <input type="text" placeholder="Опишите проблему?">
          <div style="width: 375px;height: 18px;margin-left: 290px; margin-top: 10px;">
            <p style="font-size: 13px;">Я соглашаюсь с <a href="">условиями обработки персональных данных</a></p>
        </div>
        <button style="border: none; border-radius: 5px;background-color:#6081D2;color: white; width: 200px;height: 35px; margin-left: 350px; margin-top: 10px;">
            <p style="font-size: 14px;margin-top: 4px;">Получите предложения СТО</p></button>
    </div>
</div>
