<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All service</title>
    <link rel="stylesheet" href="./css/glabal.css" />
    <link rel="stylesheet" href="./css/all_service.css" />
  </head>
  <body>
    <!-- header -->

    <header class="bg-red-main">
      <div class="container">
        <div class="header">
          <div class="header__left">
            <a href="#location" class="header__location">
              <h4>Москва</h4>
            </a>
          </div>

          <div class="header__bottom">
            <a href="" class="header__question"> Почему ремонт доверяют нам?</a>
          </div>

          <div class="right_navbar">
            <a href=""> <img src="./assets/sevenpages/viber.svg" alt="" /></a>
            <a href=""> <img src="./assets/sevenpages/whatsapp.svg" alt="" /></a>
            <a href="" class="color-white"> 8 800 123-45-67</a>
            <a href="" class="color-white">Выйти</a>
            <a href=""><button>+/- Рассчитать ремонт</button></a>
          </div>
        </div>

        <div class="header__second">
          <div class="header__logo">
            <a href="#home">
              <img src="./assets/sevenpages/logo (1).png" alt="" />
            </a>
            <p>проверенные сервисы на одном сайте</p>
          </div>
          <!-- <div class="header__info">
              <img src="./assets/sevenpages/icon-header.svg" alt="" />
              <a href="#">
                Получи все предложения <br />
              сервисов за 7 минут
              >
            </div> -->

          <div class="header__info">
            <img src="./assets/sevenpages/icon-header.svg" alt="" />
            <a href="#">
              cash-back 10% <br />
              на ваш счёт</a
            >
          </div>
          <div class="header__info">
            <img src="./assets/sevenpages/icon-header.svg" alt="" />
            <a href="#">
              500 руб <br />
              за регистрацию</a
            >
          </div>
          <div class="header__info">
            <img src="./assets/sevenpages/icon-header.svg" alt="" />
            <a href="#">
              сделал ремонт - <br />
              помог детям</a
            >
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <a style="color: gray" href="#">Главная / Все сервисы</a>

        <h3 style="margin-top: 20px; margin-bottom: 20px">Все сервисы</h3>
        <div style="display: flex; justify-content: space-between">
          <div>
            <p style="color: grey">
              Мы сотрудничаем только с проверенными СТО. Если сервиса нет <br />
              на агрегаторе - возможно о нём негативные отзывы.
            </p>
          </div>
          <div>
            <a style="margin-right: 10px" href="#">Плиткой</a>
            <a href="#">На карте</a>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div style="text-align: center; margin-bottom: 30px">
          <button>СМОТРЕТЬ ЕЩЁ</button>
        </div>

        <!-- footer qo'shiladi -->
      </div>
    </section>
  </body>
</html>
