<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новости</title>
    <link rel="stylesheet" href="./css/glabal.css" />
    <link rel="stylesheet" href="./css/newest.css" />
  </head>
  <body>
    <!-- header -->
    <header class="bg-red-main">
      <div class="container">
        <div class="header">
          <div class="header__left">
            <a href="#location" class="header__location">
              <h4>Москва</h4>
            </a>
          </div>

          <div class="header__bottom">
            <a href="" class="header__question"> Почему ремонт доверяют нам?</a>
          </div>

          <div class="right_navbar">
            <a href=""> <img src="./assets/sevenpages/viber.svg" alt="" /></a>
            <a href=""> <img src="./assets/sevenpages/whatsapp.svg" alt="" /></a>
            <a href="" class="color-white"> 8 800 123-45-67</a>
            <a href="" class="color-white">Выйти</a>
            <a href=""><button>+/- Рассчитать ремонт</button></a>
          </div>
        </div>

        <div class="header__second">
          <div class="header__logo">
            <a href="#home">
              <img src="./assets/sevenpages/logo (1).png" alt="" />
            </a>
            <p>проверенные сервисы на одном сайте</p>
          </div>
          <!-- <div class="header__info">
                  <img src="./assets/sevenpages/icon-header.svg" alt="" />
                  <a href="#">
                    Получи все предложения <br />
                  сервисов за 7 минут
                  >
                </div> -->

          <div class="header__info">
            <img src="./assets/sevenpages/icon-header.svg" alt="" />
            <a href="#">
              cash-back 10% <br />
              на ваш счёт</a
            >
          </div>
          <div class="header__info">
            <img src="./assets/sevenpages/icon-header.svg" alt="" />
            <a href="#">
              500 руб <br />
              за регистрацию</a
            >
          </div>
          <div class="header__info">
            <img src="./assets/sevenpages/icon-header.svg" alt="" />
            <a href="#">
              сделал ремонт - <br />
              помог детям</a
            >
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <a href="#" style="color: grey">Главная / Новости</a>
        <h2 style="margin-top: 40px">Новости</h2>
        <div style="display: flex; gap: 40px; margin-top: 20px">
          <h4>Новости</h4>
          <h4>Блог</h4>
        </div>
        <div class="card__total">
          <div class="card">
            <img src="./assets/sevenpages/image (11).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (12).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (13).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (14).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (11).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (12).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (13).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
          <div class="card">
            <img src="./assets/sevenpages/image (14).png" alt="" />
            <p>
              Государственные регистрационные номера на автомобили теперь можно
              буд...
            </p>
            <div
              style="
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              ">
              <p>01.08.2019 07:06</p>
              <a href="#" style="text-decoration: underline; color: #6081d2"
                >читать</a
              >
            </div>
          </div>
        </div>
        <div style="margin-top: 50px; margin-bottom: 50px; text-align: center">
          <button>СМОТРЕТЬ ЕЩЁ</button>
        </div>

        <!-- footer qo'shiladi -->
      </div>
    </section>
  </body>
</html>
